<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taco Cloud</title>
</head>
<body>
<h1>Login</h1>
<img th:src="@{/images/TacoCloud.png}" alt=""/>

<div th:if="${error}">
    Unable to login. Check your username and password.
</div>

<p>New here? Click <a th:href="@{/register}">here</a> to register.</p>

<div th:if="${not #strings.isEmpty(username)}">
    <p>User <span th:utext="'&lt;b&gt;' + ${username} + '&lt;/b&gt;'"/> Registered successfully! Please, log into the app</p>
</div>

<!-- tag::thAction[] -->
<form method="POST" th:action="@{/login}" id="loginForm">
    <!-- end::thAction[] -->
    <label for="user">Username: </label>
    <input type="text" name="user" id="user"/><br/>

    <label for="pwd">Password: </label>
    <input type="password" name="pwd" id="pwd"/><br/>
    <input type="submit" value="Login"/>
</body>
</html>